#course{

    padding-top: 10rem;


    .container-course{
        width: 100%;
        max-width: 1420px;
        padding: 0 1rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        #video{
            iframe{
                position: fixed;
            }
        }

        #main{

            cursor: pointer;

            .item{
                border: .1rem solid rgb(216, 198, 198);
                margin-bottom: 1rem;
                padding: 1rem;
                &:hover{
                    border: .1rem solid rgb(163, 120, 120);
                }
            }
           
            .thumb{
                width: 300px;
                height: 160px;
            }

            .details{
                h4{
                    font-size: 1.5rem;
                    padding-bottom: .5rem;
                }
                p{
                    font-size: 1rem;
                }
            }

        }
    }


}

