#course{

    padding-top: 10rem;

    .container-course{

        width: 100%;
        max-width: 1420px;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        #main{

            width: 100%;
            max-width: 500px;

            aside{
                border: .1rem solid rgb(224, 211, 211);
                margin-bottom: 1rem;
                cursor: pointer;

                .thumb{
                    padding: .5rem;
                }
                .details{
                    padding: .5rem;
                    h4{
                        font-size: 1.5rem;
                        padding-bottom: .5rem;
                    }
                    p{
                        font-size: 1.2rem;
                        padding-bottom: .5rem;
                    }

                }
            }

        }

    }

}

