#footer{
    padding: 2rem 0;
    background-color: $header-scroll;
    color: white;
    margin-top: 4rem;

    .footer-element{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-text{
            font-size: 1.5rem;
        }

        .footer-media{
            i{
                color: white;
                font-size: 3.5rem;
                margin: .5rem;
                cursor: pointer;
                &:hover{
                    box-shadow: $box-shadow;
                }
            }
        }
    }
}