@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 1rem;
}

.btn{
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin: .5rem 0;
    cursor: pointer;
    background-color: white;
    font-size: 1.5rem;
}

.btn2{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    &:hover{
        background-color: black;
        transition: .3s all;
        color: white;
    }
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}


.hide-text{
    display: none;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 15rem;
}