#header {
    transition: background-color 0.3s ease;
    background-color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top:0;
  
    
    &.inverted {
    //   background-color: $header-scroll;
      box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);

        // .logo{
        //     color: white;
        // }

        // .header-btn{
        //     .btn1{
        //         color: white;
        //     }
        // }
      
    }
    
  }