@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: .5rem;
  margin: .5rem 0;
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
}

.btn2 {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  background-color: aliceblue;
  color: black;
}

.btn2:hover {
  background-color: black;
  -webkit-transition: .3s all;
  transition: .3s all;
  color: white;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.hide-text {
  display: none;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 15rem;
}

mark {
  background-color: yellow;
}

#header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

#header .header-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-element .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-element .search-box #input {
  font-size: 1.5rem;
  padding: .5rem 10rem .5rem .5rem;
  background-color: white;
  border: 0.2rem solid #6332f6;
  border-radius: 0 2.5rem 2.5rem 0;
  border-left: 0.1rem solid #6332f6;
}

#header .header-element .search-box #input::-webkit-input-placeholder {
  color: #6332f6;
}

#header .header-element .search-box #input:-ms-input-placeholder {
  color: #6332f6;
}

#header .header-element .search-box #input::-ms-input-placeholder {
  color: #6332f6;
}

#header .header-element .search-box #input::placeholder {
  color: #6332f6;
}

#header .header-element .search-box #search {
  background-color: white;
  border-radius: 2.5rem 0 0 2.5rem;
  border: 0.2rem solid #6332f6;
  border-right: none;
  padding: .5rem;
  font-size: 1.5rem;
  margin-left: .5rem;
  color: #6332f6;
}

#header .header-element .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-element .select h1 {
  font-size: 1.5rem;
}

#header .header-element .select select {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #f5f3f3;
}

#header .header-element .select select option {
  border: none;
  outline: none;
}

#header .header-element .logo {
  font-size: 1.5rem;
  color: #6332f6;
  font-weight: 700;
}

#header .header-element .logo .logo-bx {
  font-size: 2.5rem;
  padding: .5rem;
  background-color: #6332f6;
  color: white;
  border-radius: .5rem;
  border: none;
}

#header .header-element .header-btn .btn1 {
  font-size: 1.5rem;
  color: #6332f6;
  font-weight: 600;
  padding: .5rem;
}

#slider {
  padding-top: 15rem;
}

#slider .swiper-wrapper {
  width: 100%;
  height: 20rem;
}

#slider .swiper-wrapper .swiper-slide {
  border-radius: 1rem;
}

#slider .swiper-wrapper .swiper-slide #react-clr {
  background-color: #61dafb;
}

#slider .swiper-wrapper .swiper-slide #js-clr {
  background-color: #fcdc00;
}

#slider .swiper-wrapper .swiper-slide #ytb-clr {
  background-color: #ff0000;
}

#slider .swiper-wrapper .swiper-slide .swiper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 8rem;
}

#slider .swiper-wrapper .swiper-slide .swiper-content .content-title {
  color: white;
}

#slider .swiper-wrapper .swiper-slide .swiper-content .content-title h2 {
  font-size: 2.5rem;
}

#slider .swiper-wrapper .swiper-slide .swiper-content .content-title h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

#slider .swiper-wrapper .swiper-slide .swiper-content .content-icon {
  color: white;
}

#slider .swiper-wrapper .swiper-slide .swiper-content .content-icon i {
  font-size: 6rem;
}

#slider .swiper-button-next,
#slider .swiper-button-prev {
  color: white;
}

#react-clr {
  background-color: #61dafb;
}

#js-clr {
  background-color: #fcdc00;
}

#ytb-clr {
  background-color: #ff0000;
}

#learn {
  padding-top: 15rem;
}

#learn .learn-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 1.5rem;
}

#learn .learn-cont .learn-box {
  border-radius: 1rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#learn .learn-cont .learn-box:hover {
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
}

#learn .learn-cont .learn-box .learn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#learn .learn-cont .learn-box .learn-content h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

#student {
  padding-top: 10rem;
}

#student .student-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#student .student-slide .swiper-wrapper {
  width: 100%;
  height: 100%;
}

#student .student-slide .swiper-wrapper .swiper-slide {
  width: 10rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #e9dede;
}

#student .student-slide .swiper-wrapper .swiper-slide:hover {
  border: 0.1rem solid #e76a6a;
}

#student .student-slide .swiper-wrapper .swiper-slide .slide-img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 50%;
}

#student .student-slide .swiper-wrapper .swiper-slide .slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#student .student-slide .swiper-wrapper .swiper-slide .std-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6rem;
  margin: .5rem;
}

#student .student-slide .swiper-wrapper .swiper-slide .std-content .std-line {
  width: 4rem;
  height: .2rem;
  background-color: #ff7c92;
}

#student .student-slide .swiper-wrapper .swiper-slide .std-content h2 {
  font-size: 2rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

#student .student-slide .swiper-wrapper .swiper-slide .std-content h3 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

#student .student-slide .swiper-wrapper .swiper-slide .std-content h4 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
  font-weight: 500;
}

#course {
  padding-top: 10rem;
}

#course .container-course {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#course .container-course #video iframe {
  position: fixed;
}

#course .container-course #main {
  width: 100%;
  max-width: 500px;
}

#course .container-course #main aside {
  border: 0.1rem solid #e0d3d3;
  margin-bottom: 1rem;
  cursor: pointer;
}

#course .container-course #main aside .thumb {
  padding: .5rem;
}

#course .container-course #main aside .details {
  padding: .5rem;
}

#course .container-course #main aside .details h4 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

#course .container-course #main aside .details p {
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

#footer {
  padding: 2rem 0;
  background-color: #6332f6;
  color: white;
  margin-top: 4rem;
}

#footer .footer-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-element .footer-text {
  font-size: 1.5rem;
}

#footer .footer-element .footer-media i {
  color: white;
  font-size: 3.5rem;
  margin: .5rem;
  cursor: pointer;
}

#footer .footer-element .footer-media i:hover {
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}

#header {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
}

#header.inverted {
  -webkit-box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}

#ask {
  padding-top: 10rem;
}

#ask .accordion-collapse h2 {
  padding: .5rem 0;
}

#ask .accordion-collapse h3 {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

#feel {
  padding-top: 20rem;
}

#feel .feel-element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 1.5rem;
}

#feel .feel-element .feel-box {
  border: 0.1rem solid #ddd7d7;
  padding: .5rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#feel .feel-element .feel-box .feel-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

#feel .feel-element .feel-box .feel-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#feel .feel-element .feel-box .feel-content h3 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

#feel .feel-element .feel-box .feel-content h4 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
}

@media (max-width: 1400px) {
  #course .container-course #video iframe {
    width: 700px;
    height: 450px;
  }
  #course .container-course #main .item {
    padding: 1rem;
  }
  #course .container-course #main .item .thumb {
    width: 200px;
    height: 120px;
  }
  #course .container-course #main .item .details h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1250px) {
  #course .container-course #video iframe {
    width: 600px;
    height: 350px;
  }
  #course .container-course #main .item {
    padding: 0.5rem;
  }
}

@media (max-width: 1150px) {
  #course .container-course #video iframe {
    width: 600px;
    height: 350px;
  }
  #course .container-course #main {
    max-width: 400px;
  }
}

@media (max-width: 1050px) {
  #course .container-course #video iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 945px) {
  #course .container-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #course .container-course #video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #course .container-course #video iframe {
    width: 600px;
    height: 350px;
  }
  #course .container-course #main {
    padding-top: 40rem;
    width: 100%;
    max-width: 600px;
  }
}

@media (max-width: 635px) {
  #header .select h1 {
    display: none;
  }
  #course .container-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #course .container-course #video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #course .container-course #video iframe {
    width: 450px;
    height: 250px;
  }
  #course .container-course #main {
    padding-top: 30rem;
    width: 100%;
    max-width: 450px;
  }
}

@media (max-width: 785px) {
  #header .header-element .logo .logo-text {
    display: none;
  }
}

@media (max-width: 620px) {
  #header .header-element .search-box #input {
    font-size: 1rem;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
  }
  #header .header-element .search-box #search {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=app.css.map */